@using Abundance_Nk.Web.Models
@using ZXing.QrCode.Internal
@model Abundance_Nk.Model.Model.AdmissionLetter
@{
    Layout = null;
    ViewBag.Title = "Admission Letter";
}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>

<div class="container">

    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">

                <img class="pull-left" src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="100px" />
            </div>
            <div class="col-md-10">
                <div class="row">
                    <h3>ABIA STATE UNIVERSITY, UTURU</h3>
                    <div class="pull-left">

                        <p class="text-capitalize">
                            p.m.b 2000 <br /> Uturu <br /> Abia state, nigeria
                        </p>
                    </div>
                    <div class="pull-right">
                        <p>
                            website: www.abiastateuniversity.edu.ng <br />
                            email: vc@abiastateuniversity.edu.ng <br />
                            phone: 0803-681-1454; 0805-261-0681
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <div class="col-md-12">
            <div class="row pull-left">

                <b>Vice Chancellor:</b> <br />
                Professor Uchenna E. Ikonne <cite>OD, MHA, PhD, FNCO, FNOA, FWASH</cite> <br />
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-12 text-center">
            <br/>
            <p class="text-center">
                <h4><strong>SCHOOL OF POSTGRADUATE STUDIES</strong> </h4>
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-justify">
            <p>
                Dean: Professor Emma Ngumoha<br />
                Our Ref: ABSU/SPGS/01/IV<br /><br />
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 text-justify">
            <p>
                <strong>@Model.Person.FullName</strong> <br /><br />
                Dear @Model.Person.LastName ,<br />
            </p>
            <div class="col-md-12 text-center">
                <p class="text-center">
                    <h4 class="sectitle"><strong>NOTIFICATION OF ADMISSION INTO POSTGRADUATE PROGRAMME</strong> </h4>
                </p>
            </div>
        </div>
    </div>

        <p>
            <ol>

                <li> I have the pleasure to inform you that your application for admission into the postgraduate programme of Abia State University is successful. You have been offered provisional Admission to pursue a @Model.Programme.Description programme leading to the award of  @Model.DegreeAwarded.Degree  @Model.DegreeAwarded.Department.Name with effect from the @Model.Session.Name.ToUpper() academic session</li>
                <li> The programme shall involve course work and a comprehensive research Dissertation/Project report for a minimum of <strong>@Model.DegreeAwarded.Duration</strong> months</li>
                <li> If the offer is acceptable to you, please complete the acceptance letter on payment of <strong>60,000</strong> non-refundable deposit, not later than one month after which the offer of admission shall be deemed to have lapsed. Please remember to attach to the acceptance letter a copy of the Bursary receipt for the payment of the non-refundable deposit</li>
                <li> Confirmation of this offer is subject to your possession of the university minimum university entry requirements as well as the specific requirements for the course of study to which you have been offered admission. Information relating to registration and commencement of lectures are obtainable from the secretary, School Of Postgraduate Studies</li>
                <li> You are required to present the originals of your certificates on which this offer of admission has been based during registration. If it is discovered that any time that you do not possess any of the qualifications which you claim, or have misled the university into making this offer to you, you will be required to withdraw from the university.</li>
                <li> Information relating to school fees, accommodation, medical report, screening of certificates and submission of letter of release from your employer is obtainable from  the secretary, School Of Postgraduate Studies</li>
                <li> On behalf of the Dean and the Board of the school of Postgraduate studies, please accept our congratulations</li>
            </ol>
            
        </p>

        <p>
            Yours Faithfully
        </p>
        <p class="pull-left">
            <img src=@Url.Content("~/Content/Images/pg_registrar.png") alt="" style="max-height: 50px" />
            <br />
            <strong>Egbo Ejike</strong> <em>B.A(HONS)</em> IBADAN  <br />
            <strong>Deputy Registrar / Secretary</strong>  <br />
            <strong>School of Postgraduate studies</strong>  <br />
            cc: Dean school of Postgraduate studies<br />
            Registrar<br />
            Bursar<br />
            Dean Faculty of @Model.Department.Faculty.Name<br />
            Head Department of @Model.Department.Name<br />
        </p>
        <div class="pull-right">
            @Html.GenerateQrCode(Model.QRVerification)
        </div>
    </div>
</div>
                </div>